{% load static %}
<!doctype html>
<html lang="fa" dir="rtl" class="theme-light">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="HTML5,CSS3,HTML,Template,multi-page,StartP - IT Startups and Digital Services HTML Template">
    <meta name="description" content="StartP - IT Startups and Digital Services HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- All CSS Link -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-color/dark-style.css' %}">

    <title>StartP - قالب HTML استارتپی ، پوسته چندمنظوره استارت آپ شرکتی فناوری اطلاعات و خدمات دیجیتال</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>

<body>

<!-- Start Preloader Area -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- End Preloader Area -->

<!- Start Navbar Area -->
<header id="header" class="headroom">
    <div class="startp-responsive-nav">
        <div class="container">
            <div class="startp-responsive-menu">
                <div class="logo black-logo">
                    <a href="index.html">
                        <img src="{% static 'img/logo.png' %}" alt="logo">
                    </a>
                </div>
                <div class="logo white-logo">
                    <a href="index.html">
                        <img src="{% static 'img/white-logo.png' %}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="startp-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand black-logo" href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                <a class="navbar-brand white-logo" href="index.html"><img src="{% static 'img/white-logo.png %'}"
                                                                          alt=" logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav nav mr-auto">
                        <li class="nav-item"><a href="{% url 'home_app:home' %}" class="nav-link">خانه</a></li>

                        <li class="nav-item"><a href="{% url 'contactus_app:about' %}" class="nav-link">درباره ما</a>
                        </li>


                        <li class="nav-item"><a href="{% url 'blog:blog_list' %}" class="nav-link">وبلاگ</a></li>

                        <li class="nav-item"><a href="{% url 'project:service-list' %}"
                                                class="nav-link {% if request.resolver_match.url_name == 'service-list' %}active{% endif %}">خدمات</a>
                        </li>

                        <li class="nav-item"><a href="{% url 'project:sample-list' %}" class="nav-link">نمونه کارها</a>
                        </li>


                        <li class="nav-item"><a href="{% url 'project:sample-list' %}" class="nav-link">سوالات
                            متداول</a>
                        </li>


                        <li class="nav-item"><a href="{% url 'contactus_app:contactus' %}" class="nav-link">تماس با
                            ما</a></li>

                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <a href="cart.html" class="cart-wrapper-btn"><i data-feather="shopping-cart"></i><span>0</span></a>
                        <a href="contact.html" class="btn btn-light">پشتیبانی</a>
                        <a href="login.html" class="btn btn-primary">ورود</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Navbar Area -->

<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>{{ service.title }}</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="{% static 'img/shape1.png' %}" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static 'img/shape2.svg' %}" alt="shape"></div>
    <div class="shape3"><img src="{% static 'img/shape3.svg' %}" alt="shape"></div>
    <div class="shape4"><img src="{% static 'img/shape4.svg' %}" alt="shape"></div>
    <div class="shape5"><img src="{% static 'img/shape5.png' %}" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static 'img/shape4.svg' %}" alt="shape"></div>
    <div class="shape7"><img src="{% static 'img/shape4.svg' %}" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static 'img/shape2.svg' %}" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <p>{{ service.body1 }}</p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                {% if service.image1 %}
                    <img src="{{ service.image1.url }}" class="wow animate__animated animate__fadeInUp" alt="image">
                {% endif %}
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                {% if service.image2 %}
                    <img src="{{ service.image2.url }}" class="wow animate__animated animate__fadeInUp" alt="image">
                {% endif %}
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <p>{{ service.body2 }}</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->

<!-- Start Footer Area -->
<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo black-logo">
                        <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                    </div>
                    <div class="logo white-logo">
                        <a href="index.html"><img src="{% static 'img/white-logo.png' %}" alt="logo"></a>
                    </div>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت
                        بوده است.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>خدمات شرکت</h3>
                    <ul class="list">
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="#">خدمات</a></li>
                        <li><a href="#">امکانات</a></li>
                        <li><a href="#">قیمت گذاری</a></li>
                        <li><a href="#">آخرین اخبار</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>پشتیبانی</h3>
                    <ul class="list">
                        <li><a href="#">سوالات متداول</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                        <li><a href="#">قوانین و ضوابط</a></li>
                        <li><a href="#">انجمن</a></li>
                        <li><a href="#">تماس با ما</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>آدرس شرکت</h3>

                    <ul class="footer-contact-info">
                        <li><i data-feather="map-pin"></i> کشور شما ، استان و شهر شما ، محله و منطقه شما</li>
                        <li><i data-feather="mail"></i> ایمیل: <a href="#">Yoursite@site.com</a></li>
                        <li><i data-feather="phone-call"></i> تلفن: <a style="direction: ltr;" href="#">+ (321) 984
                            754</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#" class="facebook"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" class="instagram"><i data-feather="instagram"></i></a></li>
                        <li><a href="#" class="linkedin"><i data-feather="linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p> 1403 © تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a
                            href="https://www.rtl-theme.com/author/barat/" target="_blank">Barat Hadian</a></p>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'img/map.png' %}" class="map" alt="map">
    <div class="shape1"><img src="{% static 'img/shape1.png' %}" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static 'img/shape2.svg' %}" alt="shape"></div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i data-feather="arrow-up"></i></div>

<!-- Dark/Light Toggle -->
<div class="dark-version">
    <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
    </label>
</div>

<!-- All JS Link -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/appear.min.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>